<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teampm.mapper.SystemConfigMapper">
    <select id="findValue" resultType="string">SELECT config_value FROM system_config WHERE config_key = #{key}</select>

    <insert id="upsert">
        INSERT INTO system_config (config_key, config_value) VALUES (#{key}, #{value})
        ON DUPLICATE KEY UPDATE config_value = VALUES(config_value)
    </insert>
</mapper>
